body {
  background: #324577;
  color: #fff;
  font-size: 12px;
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top:0;
  left: 0;
  
  nav {
    padding:10px;
    height: 50px;  
    width: 100%;
    box-sizing: border-box;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        line-height: 50px;
      }
    }
  }
}

.container {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.full-box {
  width: 100%;
  height: 100%;
  display: block;
}