<div class="full-box" id="notice">
  <div class="container">
    <h2>Notice</h2>
    <notice></notice>
  </div>
</div>

<div class="full-box" id="about">
  <div class="container">
    <h2>About</h2>
  </div>
</div>

<div class="full-box" id="circle">
  <div class="container">
    <h2>Circle</h2>
  </div>
</div>

<div class="full-box" id="event">
  <div class="container">
    <h2>Event</h2>
  </div>
</div>

<div class="full-box" id="contact">
  <div class="container">
    <h2>Contact</h2>
  </div>
</div>
